{% extends "home.html" %}
{% block content %}
    <h1>Registration</h1>
    <form method="post" action="">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Register" />
    </form>
{% endblock %}