<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet"  href="/static/jquery-ui-1.11.4.custom/jquery-ui.min.css">
	<script type="text/javascript" src="/static/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

	<div id="sidebar" class="col-sm-4">
		{% block sidebar %}
		{% endblock %}
	</div>
	<div id="content" class="container">
		{% block content %}
			<form class="form-signin" method="post" action="">
				<h2 class="form-signin-heading">Please sign in</h2>
				{% csrf_token %}
				{{ form.as_p }}
				{% if invalid %}
					<p>Wrong login or password</p>
				{% endif %}
				<input type="submit" value="Login"/>
			</form>

			<a href="/accounts/register/">Register</a>
		{% endblock %}
	</div>
	<div id="myraw" class="raw">
		<div class="col-sm-4">
		{% block raw1 %}
		{% endblock %}
		</div>
		<div class="col-sm-4">
		{% block raw2 %}
		{% endblock %}
		</div>
    	<div class="col-sm-4">
		{% block tmpBlock %}
		{% endblock %}
    	</div>
    	<div class="col-sm-4">
		{% block raw3 %}
		{% endblock %}
        </div>
    </div>
</body>
</html>