<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
-->
<h2 class="text-primary"> Hi,<mark>{{ username }}</mark>. Now you are logged in!</h2>
    <script type="text/javascript">
		function preview(user, file) {
			var xhr = new XMLHttpRequest();
			var node = document.getElementById("preview");
			xhr.open("GET", user + "/" + file, true);


			xhr.onload = function(event) {
				var extension = file.substring(file.lastIndexOf(".") + 1);
				var contentType;
				if(extension == "txt") {
					contentType = "text/plain";
				} else if(extension == "pdf") {
					contentType = "application/pdf";
				} else if(extension == "jpg") {
					contentType = "image/jpeg";
					node.innerHTML = "<img src='" + user + "/" + file + "'>";
					return;
				} else {
					node.innerHTML = "Preview is not supported for this type of files!";
					return;
				}
				var blob = new Blob([xhr.response], {type: contentType});
				var blobURL = window.URL.createObjectURL(blob);
				node.innerHTML = "<object data='" + blobURL + "' type='" + contentType + "' > <a href='" + blobURL + "' \\><//object>";
			};

			xhr.onprogress = function(event) {
				var progressInfo = Math.round(event.loaded / event.total * 100) + "%";
				node.innerHTML = progressInfo;
			};

			xhr.send();
		}
	</script>
    <table class="table">
            {% for x in files %}
                <tr>
                    <td title="{{ x.getFileName }}"><a href="download/{{ username }}/{{ x.getFileName }}">{{ x.name }}</a></td>
                    <td>{{ x.pub_date }}</td>
                    <td title="{{ x.comment }}" class="fileComment">{{ x.comment }}</td>
                    <td><form action="/upload/delete/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ x.id }}">
                            <input type="submit" name="delete" value="Delete">
                        </form></td>
                    <td>
                        <button onclick="preview('{{ username }}', '{{ x.getFileName }}')">Show</button>
                    </td>
                </tr>
            {% endfor %}
    </table>
<!--</body>
</html> -->