{% extends "home.html" %}


{% block stylesheets %}
    <style>
        .fileComment {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 200px;
            white-space: nowrap;
        }
    </style>
{% endblock %}


{% block raw2 %}
    <div class="container">
        <script>
        function handler1() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/upload/tmpurl/", true);
            xhr.onreadystatechange = function() {
              if(xhr.readyState == 4) {
                  if(xhr.status == 200) {
                      var data = xhr.responseText;
                      $("#myform")[0].reset();
                      $("#inputhere").html(data);

                  }
              }
            };
            var formObj = document.forms["myform"];
            var formData = new FormData(formObj);
            console.log(formObj, formData);
            xhr.send(formData);
        }
        </script>
		<form id="myform" role="form" onsubmit="handler1(); return false;" method="post" enctype="multipart/form-data">
			<h4 class="text-primary">Here you can add a new file.</h4>
			{% csrf_token %}
			<div class="form-group">
				<label for="name">Name: </label>
				{{ form.name}}
            </div>
            <div class="form-group">
                <p><label for="name">Comment: </label></p>
				{{ form.comment}}
            </div>
			<div class="form-group">
				{{ form.docfile}}
			</div>
        <input type="submit" name='upload' value="Add file">
		</form>

    </div>

{% endblock %}

{% block content %}
{% endblock %}

{% block raw1 %}

    <div id="preview"></div>
    <p> Click <a href="/logout/">here</a> to logout.</p>
    <p> Go back to <a href="/upload/">Upload</a></p>
{% endblock %}


{% block tmpBlock %}
    <div id="inputhere"></div>
    <script>
        $("#inputhere").load("/tmpPage");
    </script>


{% endblock %}