{% extends "home.html" %}


{% block stylesheets %}
    <style>
        .fileComment {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 200px;
            white-space: nowrap;
        }
    </style>
{% endblock %}


{% block raw2 %}
    <div class="container">
        <script>
            function handler2() {
                var formObj = document.forms["myform"];
                var formData = new FormData(formObj);
                $.ajax({
                    xhr: function() {
                        var xhr = new XMLHttpRequest();
                        xhr.upload.onprogress = function(event) {
                            //console.log(event.total,event.loaded);
                            $('#progressbar').width(200);
                            $("#progressbar").progressbar({
                                max: 100,
                                value: Math.round(event.loaded/event.total * 100)
                            });
                        };
                        return xhr;

                    },
                    url: '/upload/tmpurl2/',
                    type: 'post',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $("#progressbar").progressbar("destroy");
                        $("#myform")[0].reset();
                        $("#inputhere").html(data);
                    },
                    error: function (data) {
                        console.log("error");
                    }
                });
            };
        </script>
		<form id="myform" role="form" onsubmit="handler2(); return false;" method="post" enctype="multipart/form-data">
			<h4 class="text-primary">Here you can add a new file.</h4>
			{% csrf_token %}
			<div class="form-group">
				<label for="name">Name: </label>
				{{ form.name}}
            </div>
            <div class="form-group">
                <p><label for="name">Comment: </label></p>
				{{ form.comment}}
            </div>
			<div class="form-group">
				{{ form.docfile}}
			</div>
        <input type="submit" name='upload' value="Add file">
		</form>
        <div id="progressbar"></div>

    </div>

{% endblock %}

{% block content %}
{% endblock %}

{% block raw1 %}
    <div id="preview"></div>
    <p> Click <a href="/logout/">here</a> to logout.</p>
    <p> Go back to <a href="/upload/">Upload</a></p>
{% endblock %}


{% block tmpBlock %}
    <div id="inputhere"></div>
    <script>
        $("#inputhere").load("/tmpPage");
    </script>


{% endblock %}