{% extends "home.html" %}


{% block stylesheets %}
    <style>
        .fileComment {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 200px;
            white-space: nowrap;
        }
    </style>
{% endblock %}




{% block content %}
{% endblock %}

{% block raw1 %}
    <script>
    $(function(){
       $('#accordion').accordion({
           collapsible: true,
           heightStyle: "content"
       });
    });
    $(function() {
        $( "#log" ).tabs({
            collapsible: true,
            active: false,
            heightStyle: "fill"
        });
    });
    </script>


    <h2 class="text-primary"> Hi,<mark>{{ username }}</mark>. Now you are logged in!
        <a class="btn btn-danger" role="button" href="/logout/">Logout</a>
    </h2>

    <h3 class="text-primary">Directory <mark>{{ curDir.name }}</mark> is a current directory!</h3>
    <div id="accordion">
        <h4 class="text-primary">List of directories:</h4>
        <div>
        <table class="table">
            {% for y in dirs %}
                <tr>
                    <td>
                        {% if y.name == "default" %}
                            <p><mark>{{ y.name }}</mark> has no parent.</p>
                        {% endif %}
                        {% if y.name != "default" %}
                            <p><mark>{{ y.name }}</mark> has a parent <mark>{{ y.parent }}.</mark></p>
                        {% endif %}
                    </td>
                    <td>
                        <form action="/upload/deleteDir/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="dir_id" value="{{ y.id }}">
                            <input type="submit" name="delete" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>

        <h4 class="text-primary">Here you can change a current directory:</h4>
        <div>
            <form role="form" action="/upload/" method="post">
                {% csrf_token %}
                {% for z in dirs %}
                    {% if z.parent == curDir.name %}
                        <div class="radio">
                            <label><input type="radio" name="dir" value="{{ z.id }}">{{ z.name }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            {% if z.parent != "" %}
                {% for z in dirs %}
                    {% if z.name == curDir.parent %}
                        <div class="radio">
                            <label><input type="radio" name="dir" value="{{ z.id }}">Parent --> {{ z.name }}</label>
                        </div>
                   {% endif %}
                {% endfor %}
            {% endif %}
            <input type="submit" name='changedir' value="Change directory">
            </form>
        </div>


        <h4 class="text-primary">Here you can add a new directory:</h4>
        <div>
            <form role="form" action="/upload/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name: </label>
                    {{ formDir.name}}
                </div>
                <input type="hidden" name="parent" value="{{ curDir }}">
            <input type="submit" name='createdir' value="Add directory">
            </form>
        </div>
    </div>

    <div id="log">
        <ul>
            <li><a href="#mylog"><h5 class="text-primary">Click here to see your log:</h5></a></li>
            <li><a href="#pages"><h5 class="text-primary">Click here to see another versions of "upload.html":</h5></a></li>
        </ul>
        <div id="mylog">
            <ul>
                <form action="/upload/deleteLog" onclick="alert('Your log was successfully deleted!');">
                    <input type="submit" value="Delete this log">
                </form>
                <li><p class="text-primary">Uploaded:</p> {{ log.upload_log|linebreaks }}</li>
                <li><p class="text-primary">Deleted:</p> {{ log.delete_log|linebreaks }}</li>
                <li><p class="text-primary">Downloaded:</p> {{ log.download_log|linebreaks }}</li>
                <li><p class="text-primary">Created directories:</p> {{ log.dir_cr_log|linebreaks }}</li>
                <li><p class="text-primary">Deleted directories:</p> {{ log.dir_del_log|linebreaks }}</li>
            </ul>
        </div>
        <div id="pages">
            <p class="text-primary"> Visit <a href="/upload/upload1/">Upload1</a></p>
            <p class="text-primary"> Visit <a href="/upload/upload2/">Upload2</a></p>
        </div>
    </div>


{% endblock %}


{% block raw2 %}
    <script type="text/javascript">
		function preview(user, file) {
			var xhr = new XMLHttpRequest();
			var node = document.getElementById("preview");
			xhr.open("GET", "download/" + user + "/" + file, true);


			xhr.onreadystatechange = function(e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var extension = file.substring(file.lastIndexOf(".") + 1);
                    var contentType;
                    if (extension == "txt") {
                        contentType = "text/plain";
                    } else if (extension == "pdf") {
                        contentType = "application/pdf";
                    } else if (extension == "jpg") {
                        contentType = "image/jpeg";
                        //node.innerHTML = "<img src='" + "uploads/" + user + "/" + file + "'>";
                        //return;
                    } else {
                        node.innerHTML = "Preview is not supported for this type of files!";
                        return;
                    }
                    //var blob = new Blob([xhr.response], {type: contentType});
                    //var blobURL = window.URL.createObjectURL(blob);
                    //alert(xhr.responseText);
                    //node.innerHTML = "<object data='" + blobURL + "' type='" + contentType + "' > <a href='" + blobURL + "' \\><//object>";
                    node.innerHTML = "<object data='" + "/uploads/" + user + "/" + file + "' type='" + contentType + "' ><//object>";
                }
            };

			//xhr.onprogress = function(event) {
			//	var progressInfo = Math.round(event.loaded / event.total * 100) + "%";
			//	node.innerHTML = progressInfo;
			//};

			xhr.send();
		}
	</script>

    <h4 class="text-primary">List of files in <mark>{{ curDir }}</mark> directory:</h4>
    <table class="table">
            {% for x in files %}
                <tr>
                    <td title="{{ x.getFileName }}"><a href="download/{{ username }}/{{ x.getFileName }}">{{ x.name }}</a></td>
                    <td>{{ x.pub_date }}</td>
                    <td title="{{ x.comment }}" class="fileComment">{{ x.comment }}</td>
                    <td><form action="/upload/delete/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ x.id }}">
                            <input type="submit" name="delete" value="Delete">
                        </form></td>
                    <td>
                        <button onclick="preview('{{ username }}', '{{ x.getFileName }}')">Show</button>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <div id="preview"></div>
{% endblock %}


{% block raw3 %}
    <div class="container">
		<form role="form" action="/upload/" method="post" enctype="multipart/form-data">
			<h4 class="text-primary">Here you can add a new file.</h4>
			{% csrf_token %}
			<div class="form-group">
				<label for="name">Name: </label>
				{{ form.name}}
            </div>
            <div class="form-group">
                <p><label for="name">Comment: </label></p>
				{{ form.comment}}
            </div>
			<div class="form-group">
				{{ form.docfile}}
			</div>
        <input type="submit" name='upload' value="Add file">
		</form>
    </div>
{% endblock %}